{{define "userForm"}}
<form class="row gy-3" method="POST"
      {{if eq .isLogin false}}
        action="/registration"
      {{else}}
        action="/login"
      {{end}}
>
    {{if eq .isLogin false}}
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
    </div>
    {{end}}
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="example@mail.com">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div>
        {{if eq .isLogin false}}
        <a href="/login">Login Page</a>
        {{else}}
        <a href="/registration">Registration Page</a>
        {{end}}

    </div>

</form>
{{end}}